{% extends 'base.html' %}
{% load static %}

{% block title %}Места{% endblock %}

{% block content %}
<h2>Места</h2>
<form method="GET" action="{% url 'places' %}" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" name="category" placeholder="Фильтр по категории" value="{{ category }}">
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </div>
</form>
{% if places %}
    <ul class="list-group">
        {% for place in places %}
            <li class="list-group-item">
                {{ place.name }} ({{ place.category }}) - {{ place.cost }} $.
                <p>{{ place.description|truncatewords:20 }}</p>
                <p>Координаты: {{place.coordinates|default:"Не указаны"}}</p>
                <a href="{% url 'place-reviews' place.id %}" class="btn btn-sm btn-info">Отзывы</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Места не найдены.</p>
{% endif %}
{% endblock %}