{% extends 'base.html' %}
{% load static %}

{% block title %}Отзывы{% endblock %}

{% block content %}
<h2>Отзывы</h2>
<a href="{% url 'create-review' %}" class="btn btn-primary mb-3">Создать отзыв</a>
<form method="GET" action="{% url 'reviews' %}" class="mb-3">
    <div class="input-group">
        <select class="form-select" name="mark">
            <option value="">Все оценки</option>
            {% for i in "12345" %}
                <option value="{{ i }}" {% if mark == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </div>
</form>
{% if reviews %}
    <ul class="list-group">
        {% for review in reviews %}
            <li class="list-group-item">
                <strong>{{ review.user.login }}</strong> о месте {{ review.place.name }}: {{ review.text }} (Оценка: {{ review.mark }}/5)
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Отзывы не найдены.</p>
{% endif %}
{% endblock %}